altgraph==0.17
asgiref==3.2.10
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
comtypes==1.1.8
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.6
defusedxml==0.7.1
Django==2.1.3
django-channels==0.7.0
django-cors-headers==3.7.0
django-crispy-forms==1.7.2
django-email-confirmation==0.2
django-filter==1.1.0
django-heroku==0.3.1
django-live-support==0.1.9
django-markdown-deux==1.0.5
django-rest-authemail==2.0.6
django-rest-framework==0.1.0
django-sslserver==0.19
django-storages==1.7.1
django-templated-mail==1.1.1
django-versatileimagefield==2.0
django-widget-tweaks==1.4.8
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==3.3
idna==2.10
itypes==1.2.0
Jinja2==2.11.3
Js2Py==0.70
MarkupSafe==1.1.1
oauthlib==3.1.0
packaging==20.8
pefile==2019.4.18
Pillow==8.2.0
pipwin==0.5.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pyjsparser==2.7.1
PyJWT==2.0.1
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.2
pySmartDL==1.3.4
python3-openid==3.2.0
pyttsx3==2.90
pytz==2020.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.3.1
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.26.2
